# Lower  Saxony

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import pytz
import pygeohash as gh
from haversine import haversine
import time
import pickle as cPickle
import glob
import json

geohash_prec = 6 # the geo-hash level to define a region R

In [2]:
def geohash(lat,long):
    geo=gh.encode(float(lat), float(long), precision=geohash_prec)
    return geo

# Reading data for 2017 
## ULAND 3- Lower Saxony state(Hannover)
## ULAND 9- Bayern State(Munich, Nurenberg)

In [3]:
data_2017_baveria=pd.read_csv('../raw_data/accident_data_Unfalatlas/Unfallorte2017_LinRef.csv',header=0,sep=';')
data_2017_baveria=data_2017_baveria.loc[data_2017_baveria['ULAND']==3]
data_2017_baveria=data_2017_baveria[['OBJECTID','ULAND','UJAHR','UMONAT','USTUNDE','UWOCHENTAG','STRZUSTAND','UART', 'UTYP1','XGCSWGS84',
       'YGCSWGS84']]
data_2017_baveria

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,OBJECTID,ULAND,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,XGCSWGS84,YGCSWGS84
8211,8212,3,2017,1,2,1,1,6,4,"10,603023863000033","52,956923146000065"
8213,8214,3,2017,1,21,1,1,5,3,"9,809079205000046","52,379596181000068"
8215,8216,3,2017,1,23,1,0,3,6,"10,038980090000052","52,377291179000053"
8216,8217,3,2017,1,17,1,0,2,6,"9,880214309000053","52,399306074000037"
8220,8221,3,2017,1,16,1,0,8,1,"10,086394358000064","52,185437082000078"
...,...,...,...,...,...,...,...,...,...,...,...
136970,136971,3,2017,12,13,5,0,6,4,"9,737721749000059","52,372481073000074"
136971,136972,3,2017,12,7,5,0,0,3,"9,703082599000027","52,350460548000058"
136972,136973,3,2017,12,17,5,0,4,2,"9,215893879000021","52,327620734000050"
136973,136974,3,2017,12,12,5,1,2,2,"9,940954949000059","51,554331958000034"
136974,136975,3,2017,12,19,5,0,6,4,"10,365873294000039","52,041149838000081"

In [4]:
data_2018_baveria=pd.read_csv('../raw_data/accident_data_Unfalatlas/Unfallorte2018_LinRef.csv',header=0,sep=';')
data_2018_baveria=data_2018_baveria.loc[data_2018_baveria['ULAND']==3]
data_2018_baveria=data_2018_baveria[['OBJECTID_1','ULAND','UJAHR','UMONAT','USTUNDE','UWOCHENTAG','STRZUSTAND','UART', 'UTYP1','XGCSWGS84',
       'YGCSWGS84']]
data_2018_baveria.columns=['OBJECTID','ULAND','UJAHR','UMONAT','USTUNDE','UWOCHENTAG','STRZUSTAND','UART', 'UTYP1','XGCSWGS84',
       'YGCSWGS84']

data_2018_baveria

,OBJECTID,ULAND,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,XGCSWGS84,YGCSWGS84
8253,8254,3,2018,1,20,3,1,8,1,"8,187329181000052","52,246482159000038"
8254,8255,3,2018,1,17,6,1,2,6,"7,760605951000059","53,391314695000062"
8263,8264,3,2018,1,15,3,1,2,6,"10,810953087000030","52,487275778000026"
8264,8265,3,2018,1,17,5,1,5,3,"9,228972353000074","52,924466412000072"
8273,8274,3,2018,1,17,5,1,6,6,"10,778960407000056","52,156290988000080"
...,...,...,...,...,...,...,...,...,...,...,...
139337,139338,3,2018,12,21,7,1,6,7,"8,043731788000059","52,276801227000078"
139340,139341,3,2018,12,11,7,1,0,1,"8,042751677000069","52,286450255000034"
139341,139342,3,2018,12,17,7,1,4,6,"7,467707988000029","53,231161963000034"
139343,139344,3,2018,12,13,7,1,6,4,"10,084626813000057","52,625552634000030"
139346,139347,3,2018,12,13,2,1,0,1,"8,160513886000047","52,839934376000031"

In [5]:
data_2019_baveria=pd.read_csv('../raw_data/accident_data_Unfalatlas/Unfallorte2019_LinRef.csv',header=0,sep=';')
data_2019_baveria=data_2019_baveria.loc[data_2019_baveria['ULAND']==3]
data_2019_baveria=data_2019_baveria[['OBJECTID','ULAND','UJAHR','UMONAT','USTUNDE','UWOCHENTAG','STRZUSTAND','UART', 'UTYP1','XGCSWGS84',
       'YGCSWGS84']]
data_2019_baveria

,OBJECTID,ULAND,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,XGCSWGS84,YGCSWGS84
78920,78921,3,2019,1,12,7,1,5,3,"9,837659364000047","52,987200443000063"
79216,79217,3,2019,6,15,4,0,1,7,"8,616699662000031","52,992717510000034"
79217,79218,3,2019,6,15,4,0,2,2,"8,483910871000035","52,949465735000047"
79218,79219,3,2019,6,16,4,0,5,3,"8,589668516000074","53,038225503000035"
79219,79220,3,2019,6,7,4,0,5,2,"8,624982410000030","53,050595167000040"
...,...,...,...,...,...,...,...,...,...,...,...
233035,233036,3,2019,5,11,4,0,5,3,"10,223961795000037","52,263166867000052"
233036,233037,3,2019,5,16,4,0,0,6,"10,230277808000039","52,323038685000029"
233037,233038,3,2019,5,15,4,0,5,3,"10,234089186000062","52,326154330000065"
233038,233039,3,2019,5,20,4,0,2,2,"10,509170665000056","52,269876866000061"
233040,233041,3,2019,5,15,4,0,5,3,"10,518518026000038","52,261085565000030"

In [6]:
frame=[data_2017_baveria,data_2018_baveria,data_2019_baveria]
tot_acc_baveria=pd.concat(frame)
tot_acc_baveria=tot_acc_baveria.reset_index(drop=True)
tot_acc_baveria.columns=['OBJECTID', 'ULAND', 'UJAHR', 'UMONAT', 'USTUNDE', 'UWOCHENTAG',
       'STRZUSTAND', 'UART', 'UTYP1', 'acc_long', 'acc_lat']
tot_acc_baveria

,OBJECTID,ULAND,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,acc_long,acc_lat
0,8212,3,2017,1,2,1,1,6,4,"10,603023863000033","52,956923146000065"
1,8214,3,2017,1,21,1,1,5,3,"9,809079205000046","52,379596181000068"
2,8216,3,2017,1,23,1,0,3,6,"10,038980090000052","52,377291179000053"
3,8217,3,2017,1,17,1,0,2,6,"9,880214309000053","52,399306074000037"
4,8221,3,2017,1,16,1,0,8,1,"10,086394358000064","52,185437082000078"
...,...,...,...,...,...,...,...,...,...,...,...
81237,233036,3,2019,5,11,4,0,5,3,"10,223961795000037","52,263166867000052"
81238,233037,3,2019,5,16,4,0,0,6,"10,230277808000039","52,323038685000029"
81239,233038,3,2019,5,15,4,0,5,3,"10,234089186000062","52,326154330000065"
81240,233039,3,2019,5,20,4,0,2,2,"10,509170665000056","52,269876866000061"
81241,233041,3,2019,5,15,4,0,5,3,"10,518518026000038","52,261085565000030"

In [7]:
def accID(year,object_id):
    acc_id=str(object_id)+'_'+str(year)
    return acc_id

In [8]:
def germantoInternational(XGCSWGS84):
    XGCSWGS84=XGCSWGS84.replace(',','.')
    return XGCSWGS84

In [9]:
tot_acc_baveria['acc_long'] = tot_acc_baveria.apply(lambda row: germantoInternational(row['acc_long']), axis=1)
tot_acc_baveria['acc_lat'] = tot_acc_baveria.apply(lambda row: germantoInternational(row['acc_lat']), axis=1)
tot_acc_baveria['acc_id'] = tot_acc_baveria.apply(lambda row: accID(row['UJAHR'],row['OBJECTID']), axis=1)
tot_acc_baveria=tot_acc_baveria.reset_index(drop=True)

tot_acc_baveria

,OBJECTID,ULAND,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,acc_long,acc_lat,acc_id
0,8212,3,2017,1,2,1,1,6,4,10.603023863000033,52.956923146000065,8212_2017
1,8214,3,2017,1,21,1,1,5,3,9.809079205000046,52.379596181000068,8214_2017
2,8216,3,2017,1,23,1,0,3,6,10.038980090000052,52.377291179000053,8216_2017
3,8217,3,2017,1,17,1,0,2,6,9.880214309000053,52.399306074000037,8217_2017
4,8221,3,2017,1,16,1,0,8,1,10.086394358000064,52.185437082000078,8221_2017
...,...,...,...,...,...,...,...,...,...,...,...,...
81237,233036,3,2019,5,11,4,0,5,3,10.223961795000037,52.263166867000052,233036_2019
81238,233037,3,2019,5,16,4,0,0,6,10.230277808000039,52.323038685000029,233037_2019
81239,233038,3,2019,5,15,4,0,5,3,10.234089186000062,52.326154330000065,233038_2019
81240,233039,3,2019,5,20,4,0,2,2,10.509170665000056,52.269876866000061,233039_2019
81241,233041,3,2019,5,15,4,0,5,3,10.518518026000038,52.261085565000030,233041_2019

In [10]:
tot_acc_baveria['geohash'] = tot_acc_baveria.apply(lambda row: geohash(row['acc_lat'],row['acc_long']), axis=1)
tot_acc_baveria

,OBJECTID,ULAND,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,acc_long,acc_lat,acc_id,geohash
0,8212,3,2017,1,2,1,1,6,4,10.603023863000033,52.956923146000065,8212_2017,u1rt32
1,8214,3,2017,1,21,1,1,5,3,9.809079205000046,52.379596181000068,8214_2017,u1qczp
2,8216,3,2017,1,23,1,0,3,6,10.038980090000052,52.377291179000053,8216_2017,u1r1uq
3,8217,3,2017,1,17,1,0,2,6,9.880214309000053,52.399306074000037,8217_2017,u1r40g
4,8221,3,2017,1,16,1,0,8,1,10.086394358000064,52.185437082000078,8221_2017,u1r0vs
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81237,233036,3,2019,5,11,4,0,5,3,10.223961795000037,52.263166867000052,233036_2019,u1r32d
81238,233037,3,2019,5,16,4,0,0,6,10.230277808000039,52.323038685000029,233037_2019,u1r38v
81239,233038,3,2019,5,15,4,0,5,3,10.234089186000062,52.326154330000065,233038_2019,u1r38v
81240,233039,3,2019,5,20,4,0,2,2,10.509170665000056,52.269876866000061,233039_2019,u1r3r5
81241,233041,3,2019,5,15,4,0,5,3,10.518518026000038,52.261085565000030,233041_2019,u1r3r3

In [11]:
tot_acc_baveria=tot_acc_baveria[['acc_id', 'geohash','acc_long', 'acc_lat', 'UJAHR', 'UMONAT', 'USTUNDE',
       'UWOCHENTAG', 'STRZUSTAND', 'UART', 'UTYP1']]
tot_acc_baveria.to_csv('../regions/LS/accident_threeyear.csv',index=False)

#  Extract  regions corresponding to cities
## geohash region to 7

In [23]:
from shapely import geometry
from shapely.geometry import shape, Point
import geohash as gh
import numpy as np
import pandas as pd
import json
#import dinet_base as dinet
import tensorflow as tf
import os
import logging
import argparse
import configparser
import numpy as np
import sys
import pandas as pd
import datetime
import random
def compute_geohash_tiles_from_polygon(polygon_1):
    """Computes all hex tile in the given polygon

    :param polygon: the polygon
    :return: a list of geohashes
    """
    polygon = shape(polygon_1)
    checked_geohashes = set()
    geohash_stack = set()
    geohashes = []
    # get center of bounding, assuming the earth is flat ;) ,
    center_latitude = polygon.centroid.coords[0][1]
    center_longitude = polygon.centroid.coords[0][0]
    # center_latitude = 52.383260
    # center_longitude =  9.758040

    center_geohash = gh.encode(center_latitude, center_longitude, precision=6)
    print(center_geohash)
    geohashes.append(center_geohash)
    geohash_stack.add(center_geohash)
    checked_geohashes.add(center_geohash)
    while len(geohash_stack) > 0:
        current_geohash = geohash_stack.pop()
        neighbors = gh.neighbors(current_geohash)
        for neighbor in neighbors:
            point = geometry.Point(gh.decode(neighbor)[::-1])
            if neighbor not in checked_geohashes and polygon.contains(point):
                geohashes.append(neighbor)
                geohash_stack.add(neighbor)
                checked_geohashes.add(neighbor)
    return geohashes

In [24]:
# hannover, munich and nuremberg
cities = ['hannover']
# method = 'dbscan'
for city in cities:
    with open('../raw_data/geojson/'+city+'.geojson') as f:
        data = json.load(f)
        ge = compute_geohash_tiles_from_polygon(data)
        print(len(ge))
        listofzeros = [1] * len(ge)
        region_grid = pd.DataFrame(
            {'geohash': ge,
            'count': listofzeros
            })
        region_grid.to_csv('../regions/LS/'+city+'/numberofGridRegionGeo7.csv', index=False)

u1qcyr
450

In [25]:
tot_acc_baveria=pd.read_csv('../regions/LS/accident_threeyear.csv')
tot_acc_baveria

,acc_id,geohash,acc_long,acc_lat,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1
0,8212_2017,u1rt32,10.603024,52.956923,2017,1,2,1,1,6,4
1,8214_2017,u1qczp,9.809079,52.379596,2017,1,21,1,1,5,3
2,8216_2017,u1r1uq,10.038980,52.377291,2017,1,23,1,0,3,6
3,8217_2017,u1r40g,9.880214,52.399306,2017,1,17,1,0,2,6
4,8221_2017,u1r0vs,10.086394,52.185437,2017,1,16,1,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...
81237,233036_2019,u1r32d,10.223962,52.263167,2019,5,11,4,0,5,3
81238,233037_2019,u1r38v,10.230278,52.323039,2019,5,16,4,0,0,6
81239,233038_2019,u1r38v,10.234089,52.326154,2019,5,15,4,0,5,3
81240,233039_2019,u1r3r5,10.509171,52.269877,2019,5,20,4,0,2,2
81241,233041_2019,u1r3r3,10.518518,52.261086,2019,5,15,4,0,5,3

In [26]:
# import geohash as gh
# tot_acc_baveria['geohash7'] = tot_acc_baveria.apply(lambda row: geohash(row['acc_lat'],row['acc_long']), axis=1)
# tot_acc_baveria

In [27]:
city='hannover'
grid_in_munich=pd.read_csv('../regions/LS/'+city+'/numberofGridRegionGeo7.csv',header=0)
acc_munich=pd.merge(tot_acc_baveria,grid_in_munich,on='geohash')
acc_munich.to_csv('../regions/LS/'+city+'/acc_threeYear_'+city+'.csv',index=False)
acc_munich
#grid_in_munich

,acc_id,geohash,acc_long,acc_lat,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,count
0,8214_2017,u1qczp,9.809079,52.379596,2017,1,21,1,1,5,3,1
1,12231_2017,u1qczp,9.810745,52.382634,2017,3,20,2,1,2,2,1
2,19371_2017,u1qczp,9.809041,52.379438,2017,8,17,2,0,5,3,1
3,21567_2017,u1qczp,9.810745,52.382634,2017,9,1,1,0,8,1,1
4,25786_2017,u1qczp,9.809064,52.379532,2017,12,9,2,1,0,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7140,223274_2019,u1qcv8,9.739338,52.344134,2019,6,9,1,0,5,3,1
7141,225222_2019,u1qfqe,9.787148,52.443834,2019,8,10,4,0,0,7,1
7142,227328_2019,u1qfh7,9.685841,52.404098,2019,10,9,3,0,0,7,1
7143,228457_2019,u1qcgv,9.667957,52.367059,2019,11,15,7,0,9,1,1
7144,229975_2019,u1qcxw,9.827910,52.331376,2019,2,8,3,0,5,3,1

In [28]:
print(acc_munich.geohash.nunique())

367

In [29]:
acc_munich.to_csv('../regions/LS/'+city+'/acc_threeyear.csv',index=False)
acc_munich

,acc_id,geohash,acc_long,acc_lat,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,STRZUSTAND,UART,UTYP1,count
0,8214_2017,u1qczp,9.809079,52.379596,2017,1,21,1,1,5,3,1
1,12231_2017,u1qczp,9.810745,52.382634,2017,3,20,2,1,2,2,1
2,19371_2017,u1qczp,9.809041,52.379438,2017,8,17,2,0,5,3,1
3,21567_2017,u1qczp,9.810745,52.382634,2017,9,1,1,0,8,1,1
4,25786_2017,u1qczp,9.809064,52.379532,2017,12,9,2,1,0,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7140,223274_2019,u1qcv8,9.739338,52.344134,2019,6,9,1,0,5,3,1
7141,225222_2019,u1qfqe,9.787148,52.443834,2019,8,10,4,0,0,7,1
7142,227328_2019,u1qfh7,9.685841,52.404098,2019,10,9,3,0,0,7,1
7143,228457_2019,u1qcgv,9.667957,52.367059,2019,11,15,7,0,9,1,1
7144,229975_2019,u1qcxw,9.827910,52.331376,2019,2,8,3,0,5,3,1